
.App {
    text-align: center;
    margin-bottom: 2em;
}

.PokemonList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, .1fr));
    gap: .1rem;
    margin: 0rem;
    padding: 0 3rem 3rem ;
}

.RowPokedux {
    display: grid;
    grid-template-rows: .4fr .5fr .3fr;
    place-content: center;

    margin-right: 0em;
    margin-top: 0em;
    margin-bottom: 2em;
}

.RowPokedux > img {
    width: 4em;
    height: 4em;
    margin: 2em;
}

.Pokedux > img {
    width: 5em;
    margin: 0 auto;
}

.RowPokedux > .Pokedux {
    display: grid;
    grid-template-columns: .8fr .1fr;
    place-content: center;
}

.SizeSearch {
    width: 18em;

    display: flex;
    margin: 0 auto;
    align-items: center;
}

.color-type-pokemon {
    color: white;
    position: relative;
    bottom: 2.5em;
}